<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LisTest</servlet-name>
        <servlet-class>com.maggioni.controllers.ListenerTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadInitParametersEmail</servlet-name>
        <servlet-class>com.maggioni.controllers.ReadServletInitParametersEmail</servlet-class>
        <init-param>
            <param-name>AdmineMail</param-name>
            <param-value>admin@amaggioni.com</param-value>
        </init-param>
        <init-param>
            <param-name>MaineMail</param-name>
            <param-value>mail@amaggioni.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LisTest</servlet-name>
        <url-pattern>/ListenTest.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadInitParametersEmail</servlet-name>
        <url-pattern>/ReadParametereMail</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>breed</param-name>
        <param-value>Great Dane</param-value>
    </context-param>
    <listener>
        <listener-class>com.maggioni.controllers.MyServletContextListener</listener-class>
    </listener>
</web-app>
